/* Estilos para tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para os botões */
  button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #d6b911;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #866803;
  }
  
  h1 {
    color: #866803; /* Cinza escuro */
  }

  h2 {
    color: #866803; /* Cinza escuro */
  }

  h3 {
    color: #866803; /* Cinza escuro */
  }